* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
   /* background-color: #F7F1D1; */
    background-color: #2C573A;
    color: #FEC364;
}

nav {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: sticky;
    padding: 10px;
    background-color: #64A479;
    color: #19013D;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.navbar > li > a {
    text-decoration: none;
}

/* Page 1 (home) */

.pg1-main, .pg3-main, .pg4-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 15px;
    font-size: 24px;
}

.home-main-image {
    height: 400px;
    width: 1000px;
}

.image-text {
    font-size: 12px;
    color: #FDD5A3;
    display: flex;
    justify-content: flex-end;
}

section > h2 {
    padding: 0px 0px 7px 40px;
}

section {
    font-size: 18px;
    padding: 15px;
    margin-top: 5px;
    width: 750px;
}

/* Page 2 (Trip Survey) */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

fieldset {
    padding: 25px;
}

fieldset > div {
    padding: 5px;
}

.city > label {
    font-size: 13px;
}

.comment {
    display: flex;
    flex-direction: column;
}

.cmnt-label {
    padding: 0px 0px 5px 2.5px;
}

#comments {
    padding: 15px;
}

.submit_btn {
    display: flex;
    justify-content: center;
}

/* Page 3 (External Links) */

.pg3-main-lists {
    border: 2px solid black;
    background-color: #3D7851;
    height: 100px;
    width: 650px;
    display: flex;
    justify-content: center;
}

.pg3-main-lists > div{
    margin: 10px;
    padding: 0px 5px;
}

.pg3-main-lists > div > h2 {
    display: flex;
    justify-content: space-around;
}

.pg3-main-lists > div > ul {
    padding: 7px;
}

.links {
    margin: 3px;
}

/* Page 4 (Photos) */

.photo_grid {
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: 50% 50%;
    margin: 20px 40px;
   /* border: 2px solid black; */
}

.photo_grid > div {
    border: 2px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.photo_grid > div > a > img {
    height: 275px;
    width: 450px;
}

.photo_grid > div > p {
    color: #FDD5A3;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 400;
}